<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost:6006"
    Header set Access-Control-Allow-Methods "GET, POST, PATCH, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

RewriteEngine On

# /api/search へのリクエストを search/getProducts.php にルーティング
RewriteRule ^search/$ search/getProducts.php [NC,L]

# /api/search/history へのリクエストを search/getSearchHistory.php にルーティング
RewriteRule ^search/history/$ search/getSearchHistory.php [NC,L]

# /api/search/filtered へのリクエストを search/getFilteredResults.php にルーティング
RewriteRule ^search/filtered/$ search/getFilteredResults.php [NC,L]
